[Unit]
Description=%p %i
Before=nginx.service

[Service]
EnvironmentFile=-%h/.config/pageboard/memcached
ExecStart=/usr/bin/memcached -p 17211 -l 127.0.0.1 -v $MEMCACHED_OPTS
Restart=always

[Install]
WantedBy=default.target
