[Unit]
Description=%p %i
PartOf=%p.service
After=postgresql.service

[Service]
ExecStart=%h/%p/server/%i/pageboard
Restart=always
Environment=NODE_ENV=production
Environment=VIPS_WARNING=0
Environment=GIGACAGE_ENABLED=no

[Install]
WantedBy=default.target

