[Unit]
Description=%p %i
PartOf=%p.service
After=postgresql.service

[Service]
ExecStart=%h/%p/server/%i/pageboard
Restart=always
RestartSec=5
Environment=HOME=%h
Environment=NODE_ENV=production
Environment=VIPS_WARNING=0
Environment=GIGACAGE_ENABLED=no
Environment=OPENSSL_CONF=/usr/include/nodejs/openssl.cnf

[Install]
WantedBy=default.target

