# This service is actually a systemd target, but we are using a service since
# targets cannot be reloaded.

[Unit]
Description=Control %p
Wants=%p@0.7.service
Wants=%p@0.6.service
Wants=%p@0.5.service

[Service]
Type=oneshot
ExecStart=/bin/true
ExecReload=/bin/true
RemainAfterExit=on

[Install]
WantedBy=default.target
