[Unit]
Description=%p %i
Before=pageboard@.service

[Service]
EnvironmentFile=-%h/.config/pageboard/xvfb
ExecStart=/usr/bin/Xvfb $XVFB_OPTS
Restart=always
RestartSec=1

[Install]
WantedBy=default.target
